<% if (products && products.length > 0) { %>
    <div class="products-container">
        <div class="products-header">
            <p>Name</p>
            <p>Price</p>
            <p>Picture</p>
        </div>
        <div class="products">
            <% for (let product of products) { %>
                <div class="product-item">
                    <p> <%= product.title %></p>
                    <p>$ <%= product.price %></p>
                    <img src=<%=product.thumbnail%> alt="image of <%= product.title %> ">
                </div>
            <% } %>
        </div>
    </div>
<% } else { %>
    <div class="product-alert-container"><h2 class="product-alert">Products not found.</h2></div>
<% } %>